* {
    margin:0;
}
body {
    background-color: gray;
}
h1 {
    background-color: #ff45ff;
}

h2 {
    color:antiquewhite;
    background-color: cornflowerblue;
}
.titulo-1 {
    color: aqua;
    background-color: bisque;
}
/* Recordemos  la jerarquia, tiene mas preferencia una clase que una etiqueta tratandose de estilos
ya que la clase es mas especifica*/


/*  HEADER  */
header {
    border: 2px solid green;
}
div {
    border: 2px solid red;
    display: flex;
    justify-content: center;
}

nav {
    border: 2px solid yellow;
}

ul {
    border: 2px solid brown;
    padding-inline-start: 0;
}

li .menu {
    border: 2px solid pink;
    text-align: center;
   /* margin-top: 10px;
    margin-bottom: 10px;*/
    margin: 10px 0 10px 0;
}


a{
    border: 2px solid orange;
    font-size: 20px;
    font-weight: 800;

}

img{
    border: 2px solid purple;
}

ul li a{
    font-family: "Open Sans", sans-serif;
}
.fa-facebook{
    color: blue;
}

.fa-facebook:hover{
    color: blue;
    font-size: 25px;
    rotate: 45deg;
    transition: 1s;
}

.fa-instagram{
    color: #833ab4;
}

.fa-instagram:hover{
    color: #833ab4;
    font-size: 25px;
    rotate: 45deg;
    transition: 1s;
}

.fa-tiktok{
    color: white;
}

.fa-tiktok:hover{
    color: white;
    font-size: 25px;
    rotate: 45deg;
    transition: 1s;
}

.fa-linkedin{
    color: #1877f2;
}

.fa-linkedin:hover{
    color: #1877f2;
    font-size: 25px;
    rotate: 45deg;
    transition: 1s;
}

.fa-twitter{
    color: #657786;
}

.fa-twitter:hover{
    color: #657786;
    font-size: 25px;
    rotate: 45deg;
    transition: 1s;
}

.fa-twitch{
    color: #9146ff;
}

.fa-twitch:hover{
    color: #9146ff;
    font-size: 25px;
    rotate: 45deg;
    transition: 1s;
}

.fa-whatsapp{
    color: #25d366;
}

.fa-whatsapp:hover{
    color: #25d366;
    font-size: 25px;
    rotate: 45deg;
    transition: 1s;
}

.fa-github{
    color: #6e5494;
}

.fa-github:hover{
    color: #6e5494;
    font-size: 25px;
    rotate: 45deg;
    transition: 1s;
}
/*Desktop*/
@media only screen and (min-width:968px){
    header {
        display: flex;
    }
    div{
        width: 30%;
    }
    nav{
        width: 70%;
    }
     .menu-header {
   /*     list-style-type: none;
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;*/
        list-style-type: none;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /*Tarea  elegir otra tipografia  y ponerselo a mi menu
        Agregar en css conceptos de hover, font-face,  text-decoration, transition
        Subirla a la cuenta de GITHUB 
        hacer un pullrecuest
        descargar todas la modificaciones a master 
        */

    }
 
    .menu-header a {
        text-decoration: none;
        font-family: "Jersey 10";
        font-size: 25px;
    }

    @font-face {
        font-family: "Jersey 10" ;
        src: url("../fonts/Jersey20-Regular.ttf");
    }


    .menu-header li a:hover {
        font-size: 40px;
        transition: 1s;
    }


}